{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
  <section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url('../images/banner01.jpg');">
    <h2 class="l-text2 t-center">
        {{category.name}}
    </h2>
</section>

<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->
						<h4 class="m-text14 p-b-7">
							Categories
						</h4>

						<ul class="p-b-54">
							<li class="p-t-4">
								<a href="{{ path('app_product_index') }}" class="s-text13 active1">
									All
								</a>
							</li>

							{% for category in categories %}

							<li class="p-t-4">
								<a href="{{ path('app_category_show', {'id': category.id}) }}" class="s-text13">
									{{category.name}}
								</a>
							</li>

							{% endfor %}

						</ul>
				    </div>
                </div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">

					<!-- Product -->
					<div class="row">

                    {% for product in category.products %}
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<img src="{{ asset('images/' ~ product.image) }}" alt="IMG-PRODUCT" class="imagesize">

									<div class="block2-overlay trans-0-4">
											<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="{{ path('cart_add', {'id': product.id}) }}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Add to Cart
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="{{ path('app_product_show', {'id': product.id}) }}" class="block2-name dis-block s-text3 p-b-5">
										{{ product.name }}
									</a>

									<span class="block2-price m-text6 p-r-5">
									    {{ product.price }} €
									</span>
								</div>
							</div>
						</div>

                         {% else %}
                        <div>
                            <p>no product found</p>
                        </div>
                    {% endfor %}
					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}
